<div class="admin-product-tile">
  <h3>{{product.number}}</h3>
  <p>{{product.name}}</p>
  <p>{{product.description}}</p>
  <p>
    display product.image as the src for an img tag here
  </p>
  <p>need to properly format product.price here</p>
  {{admin-edit-product product=product editProduct="editProduct" deleteProduct="deleteProduct"}}
</div>
