<div class="admin-song-list">
  {{admin-new-song saveNewSong="saveNewSong"}}
  {{#each songs as |song|}}
    {{admin-song-tile song=song editSong="editSong" deleteSong="deleteSong"}}
  {{/each}}
</div>
