<div class="admin-artwork-list">
  {{admin-new-artwork saveNewArtwork="saveNewArtwork"}}
  {{#each artworks as |artwork|}}
    {{admin-artwork-tile artwork=artwork editArtwork="editArtwork" deleteArtwork="deleteArtwork"}}
  {{/each}}
</div>
