<div class="admin-song-list">
  {{log "song list, album: " album}}
  {{log "song list, songs: " songs}}
  {{admin-new-song album=album saveNewSong="saveNewSong"}}
  {{#each songs as |song|}}
    {{admin-song-tile song=song editSong="editSong" deleteSong="deleteSong"}}
  {{/each}}
</div>
