<div class="admin-video-tile">
  <p>
    display video.song and possibly video.song.album here
  </p>
  <h3>{{video.director}}</h3>
  <p>{{video.link}}</p>
  {{admin-edit-video video=video editVideo="editVideo" deleteVideo="deleteVideo"}}
</div>
