<div class="category-nav">
  <ul class='list-inline'>
    <li>Performances</li>
    <li>Products</li>
    <li>Artworks</li>
    <li>Press</li>
    <li>Albums</li>
    <li>Songs</li>
    <li>Videos</li>
  </ul>
</div>
