<div class="main-home-content">

  <div class="latest-release">
    <h2>Latest Release</h2>
    <a href="/structure-selected-album/-KFLhKyChDmRLgqBJAk0">
      <img src="assets/images/albumCovers/temporarymonument.jpg" alt="temporary monument" />
    </a>
    <!--change later, this is a temporary image-->
  </div>

  <div class="main-logo">
    <img src="assets/images/wm-logo.png" alt="woolen men logo" />
  </div>

  <div class="upcoming-shows">
    {{structure-show-detail performances=model.performances}}
  </div>

</div>
