<div class='structure-album-view'>
  <h2>Discography</h2>
  <div class="album-gallery">
    {{#each model as |album|}}
      {{structure-album-tile album=album}}
    {{/each}}
  </div>
</div>

  <!-- <div class= 'structure-album-tile'> -->
    <!-- delete all of these below once albums have been added to database -->
    <!-- <ul>
      <li>

        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/bluetape.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/dogyears.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/eastcoastsplitliner.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/options.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/andandandsplit-howilearnedtoshave.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/bluetape.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/dogyears.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/eastcoastsplitliner.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
      <li>
        <img src="assets/images/albumCovers/options.jpg" alt="" />
        <span>How I Learned To Shave</span>
      </li>
    </ul>

  </div> -->
<!-- </div> -->
