<<<<<<< HEAD

"this is structure show detail!"
{{#each performances as |performance|}}

{{performance.name}}
{{structure-show-detail-tile performance=performance}}
{{/each}}
=======
<div class="upcoming-show-list">
  <h2>Upcoming Shows</h2>
  {{#each performances as |performance|}}
    {{structure-show-detail-tile performance=performance}}
  {{/each}}
</div>
>>>>>>> front-end
