<div class="structure-selected-album-view">
  <div class="album-primary">
    <div class="album-cover">
        <img src={{album.cover}}>
    </div>
    <div class="album-meta">
      <h2>{{album.title}}</h2>
      <h4>{{album.releaseDate}}</h4>
      <h4>{{album.label}}</h4>
    </div>
  </div>
  <div class="album-tracklist">
    <h2>Tracklist</h2>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
    <p>Just something I made. All rights go to their respective owners. By the way...
    </p>
  </div>

</div>
