<div class="structure-press-view">
  <h2>Press</h2>
  {{#each pressclips as |pressclip|}}
    {{structure-press-tile pressclip=pressclip}}
  {{/each}}


  http://www.popmatters.com/feature/punk-among-the-high-rises-an-interview-with-the-woolen-men/

  http://researchpdx.tumblr.com/post/21804203705/interview-with-woolen-men

  http://lo-pie.com/interview-the-woolen-men/

  http://www.allmusic.com/blog/post/the-poplist-with-the-woolen-men1

  http://www.npr.org/2015/08/24/433577601/songs-we-love-woolen-men-clean-dreams
</div>
