<div class="structure-video-view">
  <h2>Music Videos</h2>
  {{#each videos as |video|}}
    {{structure-video-tile video=video}}
  {{/each}}

  <div class="structure-video-tile">
    <!-- put this inside the tile later -->
    <div class="video-container">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/tAZko_MSZhc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-meta">
      <h2>Video Title</h2>
      <h4>Video Director</h4>
      <h4>Video Link</h4>
    </div>
  </div>
  <div class="structure-video-tile">
    <!-- put this inside the tile later -->
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/45364687" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="video-meta">
      <h2>Video Title</h2>
      <h4>Video Director</h4>
      <h4>Video Link</h4>
    </div>
  </div>
  <div class="structure-video-tile">
    <!-- put this inside the tile later -->
    <div class="video-container">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/tAZko_MSZhc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-meta">
      <h2>Video Tidsadasdatle</h2>
      <h4>Video Ddsadasasdasdairector</h4>
      <h4>Video Lidsadasdasdadasdasdank</h4>
    </div>
  </div>

</div>

<!--

https://www.youtube.com/watch?v=tAZko_MSZhc temporary monument video

https://vimeo.com/45364687 two brothers video

https://vimeo.com/120440530 rain video

https://www.youtube.com/watch?v=95qSKH_5IX4 today video

https://vimeo.com/61973780 hold it up

-->
