<nav class="main-nav">
  <ul class="">
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'albums'}}Albums{{/link-to}}</li>
    <li>{{#link-to 'artwork'}}Artwork{{/link-to}}</li>
    <li>{{#link-to 'index'}}<img class="nav-logo" src="assets/images/wm-logo.png" alt="woolen men logo" />{{/link-to}}</li>
    <li>{{#link-to 'press'}}Press{{/link-to}}</li>
    <li>{{#link-to 'video'}}Video{{/link-to}}</li>
    <li>{{#link-to 'shows'}}Shows{{/link-to}}</li>
  </ul>
</nav>
