<div class='structure-artwork-tile'>
  <img class='individual-artwork' src="http://lorempixel.com/image_output/technics-q-g-1200-900" />
  <!-- <img class='individual-artwork' src={{artwork.title}}> -->
  <p>{{artwork.title}}</p>
  <p>{{artwork.artist}}</p>
  <p>{{artwork.notes}}</p>
</div>
