<<<<<<< HEAD
<p>{{performance.venue}}</p>
<p>{{format-date performance.date}}</p>

"structure show detail TILE"
=======
<div class="upcoming-show-item">
  <h4>{{performance.date}}</h4>
  <h5>{{performance.venue}}</h5>
</div>
>>>>>>> front-end
