/*.category-nav {
  background-color: red;
}
.admin-album-list {
  background-color: orange;
}
.admin-artwork-list {
  background-color: blue;
}
.admin-performance-list {
  background-color: green;
}
.admin-press-list {
  background-color: pink;
}
.admin-product-list {
  background-color: yellow;
}
.admin-song-list {
  background-color: purple;
}
.admin-video-list {
  background-color: brown;
}*/
