.wm-site-wrapper {
  display: flex;
  flex-direction: column;
  @font-face {
    font-family: "brelaregular";
    src: url("../public/assets/fonts/brelaregular.woff") format('woff');
  }
}

.wm-container {
  max-width: 1200px;
  border: 2px solid green;
  margin: auto;
  .social {
    display: flex;
    flex-direction: row;
    .links {
      align-items: center;
      .soc-icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}



ul {
  list-style: none;
  padding: 0;
}
