.structure-artwork-view {
  margin-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  .artwork-header-img {
    max-width: 100vw;
  }
  .structure-artwork-tile {
    display: flex;
    flex-direction: column;
    .individual-artwork {
      margin-top: 20px;
      max-width: 80vw;
    }
  }
}
