.main-nav {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    @media screen and(min-width: $medium-screen) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      margin: 0;
    }
    li {
      margin: 3px 0;
      @media screen and(min-width: $medium-screen) {
        padding: 10px 0;
        &:nth-child(4) {
          display: none;
        }
      }
      @media screen and(min-width: $large-screen) {
        &:nth-child(4) {
          display: initial;
        }
      }
      .nav-logo {
        display: none;
        @media screen and(min-width: $large-screen) {
          display: flex;
          max-width: 150px;
        }
      }
      a {
        text-transform: uppercase;
        color: $grey-text;
        font-size: 2em;
        @media screen and(min-width: $medium-screen) {
          font-size: 2em;
          // padding: 0 30px;
          margin: 0 auto;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
