
<div>
<p>Rafael Spielman, Alex Geddes, and Lawton Browning have made independant music in the Pacific Northwest as the Woolen Men since 2009. Since then they have written hundreds of songs, three LP's, four 7-inches, thirteen tapes and six videos, the majority of which were written, recorded and produced by the band themselves. Their latest record, Temporary Monument (Woodsist records), was recently named the 6th best Oregon record of the year by Oregon Arts watch. Currently the band is in the middle of organizing their second european tour and writing and recording their third full length record in Portland, Oregon.
</p>
<img src="assets/images/bio-drawing.jpg">
</div>
<a href="http://www.woodsist.com/">Woodsist</a>
<a href="http://www.logladyrecords.com/">LogLady</a>
<a href="https://metalpostcard.bandcamp.com/">Metal Postcard</a>
