<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>

<div class="container">
  <header class="jumbotron">
    <h1>Woolen Men Site</h1>
  </header>
  {{outlet}}
</div>
