<div class="wm-site-wrapper">
  <header>
    <div class="wm-container">
      {{#link-to 'index'}}<img class="header-logo" src="assets/images/wm-logo.png" alt="woolen men logo" />{{/link-to}}
      {{structure-nav-bar}}
    </div>
  </header>
  <main>
    <div class="wm-container">
      {{outlet}}
    </div>
  </main>
</div>
