<div class="wm-site-wrapper">
  <header>
    <div class="wm-container">
      {{#link-to 'index'}}<img class="header-logo" src="assets/images/WMlogo.svg" alt="woolen men logo" />{{/link-to}}
      {{structure-nav-bar}}
    </div>
  </header>
  <main>
    <div class="wm-container">
      {{outlet}}
      <div class="social">
        <div class="links">
          <a href="https://woolenmen.bandcamp.com/"><img class="soc-icon" src="assets/images/social/bandcamp.svg" alt="Bandcamp Site" /></a>
          <a href="https://www.facebook.com/woolenmen/"><img class="soc-icon" src="assets/images/social/fb.svg" alt="Facebook Site" /></a>
          <a href="https://soundcloud.com/the-woolen-men"><img class="soc-icon" src="assets/images/social/soundcloud.svg" alt="Soundcloud Site" /></a>
        </div>
      </div>
    </div>
  </main>
</div>
