<div class="artwork-main-content">
  <img class="artwork-header-img" src="assets/images/severed-head.jpg" alt="Severed Head on Floor" />
  <h3>Artwork Archive</h3>
  <div class="admin-artwork-list">
    <img class="art" src="http://lorempixel.com/image_output/technics-q-g-1200-900" />
  </div>
</div>
